.title
  %h2 商品出品
.input_form
  = form_for @item do |f|
    .field
      = f.label "商品名"
      = f.text_field :name, class: "inputbox-full", autofocus: true, autocomplete: "name"
    .field
      = f.label "商品説明"
      = f.text_field :text, class: "inputbox-full", autofocus: true, autocomplete: "text"
    .field
      = f.label "ブランド"
      = f.text_field :brand, class: "inputbox-full", autofocus: true, autocomplete: "brand"
    .field
      = f.label "カテゴリー"
      = f.text_field :category, class: "inputbox-full", autofocus: true, autocomplete: "category"
    .field
      = f.label "商品の状態"
      = f.text_field :item_status, class: "inputbox-full", autofocus: true, autocomplete: "item_status"
    .field
      = f.label "配送料の負担"
      = f.text_field :delivery_charge, class: "inputbox-full", autofocus: true, autocomplete: "delivery_charge"
    .field
      = f.label "発送元の地域"
      = f.select :prefecture, Prefecture.all.map { |pre| [pre.name, pre.id] },{include_blank: ""}, class: "inputbox-full", autofocus: true
    .field
      = f.label "発送までの日数"
      = f.text_field :delivery_days, class: "inputbox-full", autofocus: true, autocomplete: "delivery_days"
    .field
      = f.label "販売価格"
      = f.text_field :price, class: "inputbox-full", autofocus: true, autocomplete: "price"
    .actions
      = f.submit "出品する", class: "btn red"