%h2 クレジットカード登録
= form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
  -# = render "profiles/shared/error_messages", resource: resource
  .field
    = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
  .field
    %label "有効期限"
    = sprintf(date_select(:expiration_date, order:[:month,:year,:day], use_month_numbers:true, discard_day:true, start_year:Time.now.year-2000, end_year:Time.now.year-2000+10, date_separator:'%s'),'月') + '年'
  .field
    %label "セキュリティコード"
    = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
  .actions
    = submit_tag "登録", id: "token_submit"